@use "../variables";

.header {
  min-width: variables.$S;
  display: inline-block;

  &__mobile-menu {
    float: right;
    position: relative;
    border: none;
    cursor: pointer;
    margin-top: 23px;
    margin-right: 28px;
    display: flex;
    &_close,
    &_open {
      display: none;
    }
  }

  &__navigation {
    position: absolute;
    right: -823px;
    background-color: variables.$background-menu;
    min-width: 182px;
    //overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

    .header__navigation-link {
      display: flex;
      text-transform: uppercase;
      color: variables.$title-color;
      padding: 12px 16px;
      font-weight: 400;
      font-size: 11px;
      line-height: 22px;
      &:hover {
        background-color: variables.$hover-fon;
      }
      &:nth-child(1) {
        color: variables.$home-color;
      }
    }
  }
  &__img {
    margin-top: 23px;
  }
  @media  (min-width: variables.$M){
    &__mobile-menu {
      display: none;
    }
    &__navigation {

      .header__navigation-link{
        flex-direction: row;
      }
    }

  }
}


.active {
  display: block;
}

.hide {
  display: none;
}

//@media  (min-width: variables.$M){
//
//}
//
//@media  (min-width: variables.$L){
//
//}
