@use "../variables";
@use "../mixins";
.instagram-section {

}
.instagram {
  min-width: variables.$S;
  @include mixins.center;
  &__title-wrapper {
    display: flex;
    margin-left: 43px;
  }

  &__wrapper {
    margin-left: 43px;
    margin-bottom: 42px;
    &__wrapper-link {
      display: none;

    }
    }
  }



  @media (min-width: variables.$M-middle-f) and (max-width: variables.$M-middle) {
    .instagram {
      min-width: variables.$M;
      @include mixins.center;

      &__title-wrapper {
        display: flex;
        margin-left: 0;
      }

      &__wrapper {
        margin-left: 0;
        margin-bottom: 42px;
      }
    }

  }

