@use "../variables";
@use "../mixins";


.instagram {
  min-width: variables.$S;
  @include mixins.center;
  background: variables.$white;

  &__title-wrapper {
    @include mixins.center;
    display: flex;
    max-width: variables.$S;

    &_right {
      display: none;
    }

  }

  &__wrapper {
    display: flex;
    justify-content: center;

    &-link {
      display: none;
      margin-bottom: 42px;

      &:first-child {
        display: block;
      }

    }
  }
}


@media (min-width: variables.$M) {
  .instagram-section {
    background: variables.$background;
  }

  .instagram {
    min-width: variables.$M;

    &__title-wrapper {
      justify-content: space-between;
      max-width: variables.$M;

      &_right {
        display: block;
      }
    }

    &__wrapper {
      margin: 0 auto;
      max-width: variables.$M;
      justify-content: space-between;

      &-link {
        display: block;
        margin-right: 10px;
        margin-bottom: 50px;
        width: 30%;

        &:last-child {
          display: none;
        }
      }
    }
  }
}

@media (min-width: variables.$L) {
  .instagram-section {
    background: variables.$background;
  }
  .instagram {
    min-width: variables.$L;
    max-width: variables.$L;

    &__title-wrapper {
      max-width: variables.$L;
    }

    &__wrapper {
      margin: 0 auto;
      max-width: variables.$L;
      &-link {
        width: 30%;
        &:last-child {
          display: block;
        }
      }
    }
  }
}


