/* common style*/
.vision-page {
    font-family: Montserrat, "Courier New", serif;
    font-style: normal;
    background: rgba(0, 0, 0, 0.0001);
}
.container {
    max-width: 1145px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
/*header style*/
.page-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;

}
.nav-link {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    letter-spacing: 2.7px;
}
.imagine-section {
    width: 100%;
}
.text-section {
    padding: 868px 108px 0px 0px;
    background: rgba(0, 0, 0, 0.0001);
}
.text-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    color: #373737;
}
.text-part-one {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.text-part-two {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.button-link {
    margin: 18px 17px 43.5px 42.5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button {
    background: #FF0000;
    border-radius: 4px;
}


