//Вам видається макет сайту в трьох варіантах - 320 пікселів, 768 пікселів та 1200 пікселів.
//Верстка повинна бути зроблена з урахуванням принципів адаптивної верстки, тобто всі блоки/колонки повинні змінювати своє взаємне розташування коли роздільна здатність екрану стає занадто малою, щоб вони могли розташовуватися на одній лінії.
//Макет шириною 320 пікселів показує як виглядатиме контент при ширині екрана від 320 до 480 (!) пікселів (320 пікселів - мінімальна ширина контенту, більше він не повинен звужуватися).
//Макет 768 пікселів показує як виглядатиме контент при розмірі екрана від 481 до 992 (!) пікселів.
//Макет 1200 показує як виглядатиме контент при ширині екрана 993-1200 пікселів. Тобто там, де в макеті 768 десь було дві колонки, а в макеті 1200 чотири, зміна з двох на чотири повинна відбуватися при досягненні ширини екрана 993 пікселя.
//Якщо екран ширший за 1200 пікселів, контент повинен займати рівно 1200 пікселів, і знаходитися по центру.
//У контейнера з контентом повинен бути бічний padding - 10 пікселів з обох боків, на всіх варіантах екрану.
@use "variables";

//@mixin root {
//  min-width: 373px;
//  max-width: 1600px;
//  margin-left: auto !important;
//  margin-right: auto !important;
//}

@mixin title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
}

@mixin flex {
  display: flex;
  align-content: center;
  align-items: center;
}

//@mixin for-mobile {
//  @media (min-width: variables.$S) {
//  }
//}
//
//@mixin for-laptop {
//  @media (min-width: variables.$M) {
//  }
//}
//
//@mixin for-desktop {
//  @media (min-width: variables.$L) {
//
//  }
//}

