//// COLORS
$home-color: #57A4A4;
$title-color: #4E4E4E;
$text-color: #5C5C5C;
$comments-color: #7C7C7C;
$footer-title-color: #FEFEFE;
$footer-text-color: #B9B9B9;
$background-menu: #F5F5F5;
$hover-fon: #E5E5E5;
$white: #00000000;
$background: gainsboro;
$background-footer: #000000;

// BREAKPOINTS
$S: 320px;
$M: 768px;
$L: 1200px;




