.table {
    position: absolute;
    left: 9%;
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    line-height: 28px;
    border: 22px solid #3A4965;
    text-transform: uppercase;
    color: #484848;
    text-align: center;
}

.caption {
    text-align: left;
    color: #E3E3E3;
}

.background_light {
    background: #FAFAFA;
    border-right: none;
    margin-top: 26px;
    margin-bottom: 18px;
    text-align: left;
}

.background_light_gray {
    background: #F2F2F2;
    border-right: none;
}

.background_gray {
    background: #E3E3E3;
}

.background_green {
    background: #89C331;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
}

.background_red {
   background: #F04A56;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}

.background_blue {
    background: #20807C;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
}

.first_th {
    max-width: 313px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 28px;
    font-size: 18px;
}

.first_th_big {
    font-size: 30px;
}

th {
    margin-top: 27px;
    margin-bottom: 28px;
    font-weight: 700;
    border: none;
    padding-top: 22px;
    padding-bottom: 22px;
}

td {
    border: 1px solid #bfbfc1;
    font-size: 16px;
    font-weight: 400;
    min-width: 290px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.button{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    border: none;
    padding: 20px 58px 9px 58px;
    margin-top: 22px;
    margin-bottom: 22px;
    border-radius: 5px;
}

.background_dark_grey {
    background: #484848;
    border-bottom: 9px solid #404040;
}

.background_green.button {
    border-bottom: 9px solid #79B027;
}

.background_red.button {
    border-bottom: 9px solid #DF3A46;
}

.background_blue.button {
    border-bottom: 9px solid #16736F;
}

.price {
    font-size: 60px;
    line-height: 28px;
    font-weight: 700;
    display: inline-block;
    margin-top: 26px;
    margin-left: 30px;
}

.price_cents {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    max-width: 136px;
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 16%;
}

.price_month {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

td svg path {
margin-right: 5px;

}