@use "variables";

@mixin root {
  min-width: 373px;
  max-width: 1600px;
  margin-left: auto !important;
  margin-right: auto !important;
}

@mixin title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
}

@mixin flex {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@mixin for-mobile {
  @media (min-width: variables.$mobile) {

  }
}

@mixin for-laptop {
  @media (min-width: variables.$tablet) {

  }
}

@mixin for-desktop {
  @media (min-width: variables.$desktop) {

  }
}

