$text-color: #000000;
$background-color: #fefefe;

// COLORS
$background-primary: tomato;
$background-secondary: mix(tomato, black);
$text-color: #0e0e0e;

// BREAKPOINTS
$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;


