.nav {
  text-transform: uppercase;
  display: flex;
  width: 100%;
  list-style: none;
  padding: 10px;
  justify-content: space-evenly;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: blue;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-decoration: none;
  transition: 0.2s;
}

a:hover{
  color: red;
}

.amount {
  color: black;
}

.amount::before {
  content: "";
  padding-right: 10px;
}


