.container {
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    background: #313131;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    margin: 22px 27px;
}

.header-architect {
    font-weight: bold;
    font-size: 22px;
}

.header-button {
    background: #000000;
    border: none;
}

.header-search {
    margin: 27px 25px 26px 26px;
}

.header-nav-list {
    display: flex;
}

.header-nav-list-item:hover {
    color: #14B9D5;
}

.header-nav-list-item {
    display: block;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    justify-content: space-between;
    margin-right: 25px;
}

.title {
    font-weight: bold;
    font-size: 27px;
    color: #18B4CF;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding-top: 49px;
    padding-bottom: 52px;
}

.the_latest_news {
    background: url("../img/Header/header-background.png");
    background-size: cover;
    width: 100%;
    /*
    background: no-repeat;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.the_latest_news-title {
    color: #ffffff;
    margin-top: 100px;
}

.the_latest_news-button_section {
    display: flex;
    font-weight: 600;
    font-size: 18px;
}

.the_latest_news-button {
    justify-content: center;
    align-items: flex-end;
    border-radius: 4px;
    border: none;
    background: #14B9D5;
    color: #ffffff;
    margin-top: 44px;
    padding: 16px 29px 17px 30px;
    margin-bottom: 64px;
}

.the_latest_news-button:first-of-type {
    background: #89CA62;
    margin-right: 20px;
    padding: 16px 19px 17px 19px;
}

.popular_posts {
    background: #F2F2F2;
}

.hotels_container {
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    align-content: space-between;
    height: 900px;

}

.hotels_news {
    width: 100%;
}

.hotels_container_item {
    width: 32%;
    margin-bottom: 2%;
    background: white;
    transition: 2s;
}

.hotels_container_item:nth-child(3n+1) {
    order: 1;
}

.hotels_container_item:nth-child(3n+2) {
    order: 2;
}

.hotels_container_item:nth-child(3n) {
    order: 3;
}

.hotels_container::before,
.hotels_container::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
}

.hotels_container_item:hover {
    border: 1px solid #14B9D5;
    transform: scale(1.1);
}

.hotels-title {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    margin-top: 20px;
    margin-bottom: 22px;
    text-align: center;


}

.clients {
    background: url(../img/clients/background2.png);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular_clients-title {
    color: white;
    text-align: center;
    padding-top: 108px;
    padding-bottom: 87px;
}

.clients-rectangle {
    max-width: 60px;
}

.clients-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, auto);
    grid-gap: 58px;
    justify-content: center;
    align-items: center;
    margin-top: 106px;
    margin-bottom: 191px;
}

.clients-item-link {
    max-width: 100%;
}

.top-rated-places {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(7, auto);
    grid-gap: 0;
}

.top-rated-items-img {
    max-width: 100%;
}

.hot-news_container {
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 259px 1fr 1fr 259px;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 44px;
    grid-column-gap: 35px;
    align-items: stretch;
}

.hot-news_item {
    background: #F9F7F7;
    text-align: right;
}

.hot-news_item_one {
    grid-area: 1 / 1 / 2 / 4;
}
.hot-news_item_two {
    grid-area: 1 / 4 / 2 / 5;
}
.hot-news_item_three {
    grid-area: 2 / 1 / 3 / 3;
}
.hot-news_item_four {
    grid-area: 2 / 3 / 3 / 5;
}
.hot-news_item_five {
    grid-area: 3 / 1 / 4 / 3;
}
.hot-news_item_six {
    grid-area: 3 / 3 / 4 / 5;
}
.hot-news_item_seven {
    grid-area: 4 / 1 / 5 / 2;
}
.hot-news_item_eight {
    grid-area: 4 / 2 / 5 / 5;
}

.hot-news_item_one .hot-news-link {
    padding: 41px 24px 40.5px 0px;
}

.hot-news_item_eight .hot-news-link {
    padding: 41px 24px 40.5px 0px;
}
.hot-news_item_two .hot-news-title {
    text-align: center;
}
.hot-news_item_seven .hot-news-title {
    text-align: center;
}

.hot-news-img-float {
    float: left;
}

.hot-news-title {
    font-weight: bold;
    font-size: 18px;
    color: #353A3D;
    margin-bottom: 15px;
    margin-top: 14px;
}

.hot-news-content {
    grid-area: content;
    font-weight: 600;
    font-size: 14px;
    color: #5B6469;
    line-height: 21px;
}

.hot-news-link {
    display: block;
}
