/* Hide the images by default */
.slider-section {
    width: 1160px;
    margin: 0 auto;

}

.mySlides {
    display: none;
    width: 143px;

    margin: 0 auto;

}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

.round {
    border-radius: 100px;
    border: 8px solid rgb(41, 98, 89);

}


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #FFFFFF;
    user-select: none;
    margin-top: -25px;
    margin-right: 200px;
    margin-left: -480px;

}
/* Position the "next button" to the right */
.next {
    right: 0;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #18CFAB;
}


/* Container for image text */
.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: #18CFAB;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
}

.user_name {
    color: #18CFAB;
}
.user_position{

    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}


.container-row {
    width: 600px;
}

.row {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.row:after {
    content: "";
    display: table;
    clear: both;


}

/* Six columns side by side */
.column {
    float: left;
    width: 60px;
    height: 59px;
margin: 60px 25px 110px 25px;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.user_comment {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    position: absolute;
    margin-top: -100px;
    margin-left: -200px;
}

.user_position {

    text-align: center;
    color: #BBBBBB;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}
