
/*body style*/

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/sections_background/section-1(header).jpg");
    height: 100vh;
}

.background {
    background-attachment: fixed;

}

/*img_header style*/

.header_nav {
    width: 100%;
    background-color: RGBA(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px 0 #00000040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 120px;
}

.header_container {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.h {
    position: absolute;
    margin-left: 15px;
    margin-top: 19px;
    top: 0;
    left: 0;
}

.link_box {
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    margin-right: 305px;
    cursor: pointer;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

.text_color_white {
    color: #FFFFFF;
}

.text_color_green {
    color: #18CFAB;
}

.nav_link {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    margin-right: 10px;
}

.nav-search {
    cursor: pointer;
}

.nav_link:hover {
    color: #18CFAB;
}

.nav-search:hover {
    color: #18CFAB;
}

.header_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 134px;
}

.header_section_theme {
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    margin-top: 264px;
    margin-bottom: 80px;
}

.header_section_slogan {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.header_section_attraction {
    font-weight: 400;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
    margin-bottom: 134px;
}

.header_section_buttons_box {
    display: flex;
}

.button_all {
    justify-content: center;
    align-items: flex-end;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    border-top: 3px solid #FFFFFF;
}

.header_section_button {
    background: #18CFAB;
    padding: 16px 20px;
}

.header_section_button:first-of-type {
    background: #00CBF6;
    margin-right: 18px;
    padding: 10px 16px;
}

.menu_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

/*our serv*/

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.svg {
    margin-bottom: 83px;
    margin-top: 24px;
}

.services_theme {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-top: 83px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.tabs {
    display: flex;
    width: 1160px;
    align-items: stretch;

}

.tabs-title {
    width: 193px;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    padding: 20px 35px;
    cursor: pointer;
    text-align: center;
}

.tabs-title.active {
    background: #18CFAB;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #FFFFFF;
}

.tabs-title.active::after {
    position: absolute;
    content: "";
    background: url('../img/img_2/triangle.jpg') no-repeat right center;
    display: block;
    width: 27px;
    height: 15px;
    margin-top: 19px;
    margin-left: 43px;

}

.tabs-content {
    max-width: 1160px;
    margin-top: 28px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-bottom: 91px;
}

.tabs-content li {
    display: none;
}

.tabs-content .active {
    display: block;
}

.menu_jpg {
    float: left;
    margin-right: 8px;
}

/*purchase now*/

.purchase_now {
    background-image: url('../img/sections_background/background_2.png');
    background-repeat: no-repeat;
}

.purchase_now_button {
    background: #18CFAB;
    padding: 16px 10px;
    margin-bottom: 127px;
}

.purchase_now {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.purchase_now_attraction {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    margin-top: 127px;
    margin-bottom: 13px;
    text-transform: uppercase;
}

.purchase_now_p {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 70px;
}

/*amazing work*/

.amazing_work {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #E9EDEF;
}

.amazing_work_theme {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-top: 96px;
}


.gallery-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.menu-item {
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    border: 1px solid #DADADA;
    cursor: pointer;
    padding: 14px 15px;
    text-align: center;
}

.menu-item.active,
.menu-item:hover {
    color: #18CFAB;
    border: 2px solid #18CFAB;
    font-size: 15px;
}

.gallery-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1160px;
    margin-top: 28px;
    margin-bottom: 91px;
    flex-direction: row;
    flex-wrap: wrap
}


.gallery-content .flip-card {
    position: relative;
    display: block;
}

.gallery-content .flip-card.hide {
    display: none;
}

.gallery-content .flip-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    cursor: pointer;
    background-color: transparent;
    width: 285px;
    height: 200px;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background: #E9EDEF;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.theme_card_back {
    margin-top: 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.chapter_card_back {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

/* loader */

.button .loader {
    background-image: url("data:image/svg+xml, %3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Cpath opacity='0.2' fill='%23000' d='M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z'/%3E%3Cpath fill='%23F48E0B' d='M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 20 20' to='360 20 20' dur='0.5s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    color: transparent !important;
}

/* breaking_news */

.breaking_news {
    margin: 0 auto;
    width: 1160px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 35px;
    margin-bottom: 129px;
}

a:hover .banner-img::after {
    background: #18CFAB;
}

a:hover .wrapper_item_blog {
    color: #18CFAB;
}

.banner-img::after {
    position: absolute;
    background: #203E38;
    width: 70px;
    height: 68px;
    margin-top: -205px;
    margin-left: 194px;
    content: "";
}

.hover_text_date::after {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 6px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    position: absolute;
    margin-top: -210px;
    margin-left: 215px;
    content: "12"
}

.hover_month {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 6px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    position: absolute;
    margin-top: -185px;
    margin-left: 210px;
    content: ""
}

.wrapper_item_blog {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    margin-left: 15px;
}

.border {
    margin-right: 20px;
}

.border::after {
    position: absolute;
    content: "";
    border-right: 1px solid #777777;
    height: 15px;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper_item_comment {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    margin-left: 15px;
}

.blue {
    background: #F8FCFE;
    border: 1px solid #F2F4F5;
}

/* section slider */

.say_about {
    background: url('../img/sections_background/section-3.jpg') no-repeat right center;;
}

.section_container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1160px;
    position: relative;
}

.say_about_theme {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 98px;
}

.user_block {
    margin-bottom: 118px;
}

.load_more {
    display: flex;
    font-weight: 700;
    font-size: 15px;
    justify-content: center;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    background: #18CFAB;
    padding: 16px 23px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 127px;
    cursor: pointer;
    margin-top: 70px;
}

.plus {
    margin-top: 6px;
    margin-right: 8px;
}

.button.loader {
    background-image: url("data:image/svg+xml, %3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Cpath opacity='0.2' fill='%23000' d='M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z'/%3E%3Cpath fill='%23F48E0B' d='M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 20 20' to='360 20 20' dur='0.5s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    color: transparent!important;
}

