
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6aaee;
}

.ip {
    padding: 10px;
    margin: 0 auto ;
    margin-top: 10%;
    display: block;
    color: #FFFFFF;
    background-color: #b018c2;
    border-radius: 13px;
}

.ul_style {
    text-align: center;
}

.address_style {
    color: #4f1b55;
}
