/*body style*/
.body {
    margin: 0 auto;
    width: 100%;
    background-image: url("../img/background.png");
    background-size: cover;
    height: 100vh;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

/*header style*/
.header {
    background-color: RGBA(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px 0 #00000040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    min-height: 58px;
}

.header_logo {
    cursor: pointer;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    padding-left: 79px;
}

.header_logo:hover {
    color: #01813F;
}

.icon_box {
    display: flex;
    justify-content: space-around;
}

a svg {
    margin-right: 26px;
    cursor: pointer;
}

a:nth-child(3) {
    padding-right: 27px;
}

svg:hover path {
    fill: #01813F;
}

a:nth-child(3)::after {
    position: absolute;
    content: "";
    border-right: 1px solid rgba(255, 255, 255, 0.9);
    height: 19px;
    margin-top: 2px;
}

.header_text {
    padding-top: 5px;
}

.header_action {
    color: #ffffff;
}

.header_action:hover {
    color: #01813F;
}

.icon_box:nth-child(2) {
    padding-right: 79px;
}

.header_action:first-child {
    margin-right: 3px;
}

.sign_up::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    left: 0;
}

/*form style*/
.box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(25% - 300px);
    max-width: 444px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}

.top_box {
    min-width: 347px;
    max-width: 347px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    padding-top: 31px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 38px;
}

.sign_up {
    align-self: flex-start;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin-bottom: 15px;
}

.top_box_log_in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.log_in {
    margin-bottom: 8px;
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}

.log_in:hover {
    color: #01813F;
    text-decoration: underline;
}

.button {
    display: flex;
    width: 100%;
}

.button_btn {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    border-radius: 4px;
    width: 50%;
    position: relative;
}

.button_btn:first-child {
    margin-right: 8px;
    background-color: #305DB8;
}

.button_btn:first-child:hover {
    background-color: #022263;
}

.button_btn:last-child {
    background-color: #DF4A32;
}

.button_btn:last-child:hover {
    background-color: #AB1F09;
}

.button_btn i::after {
    position: absolute;
    content: "";
    border-right: 1px solid #0A162F;
    background: #2B0D09;
    height: 28px;
    left: 55px;
    bottom: 15px;
    mix-blend-mode: normal;
    opacity: 0.1;
    padding-bottom: 5px;
}

.button_btn:first-child i {
    padding-right: 18.5px;
    padding-left: 16.5px;
    margin-right: 25px;
    font-size: 25px;
}

.button_btn:last-child i {
    padding-right: 7px;
    padding-left: 10px;
    margin-right: 38px;
    font-size: 25px;
}

.button_title {
    display: inline-block;
    padding-bottom: 5px;
}

.button_title:first-child {
    padding-right: 21px;
}

.box .box_or {
    position: relative;
    margin-top: 31px;
    margin-bottom: 17px;
    color: #848484;
}

.box_or::before ::after {
    display: block;
    width: 152px;
    content: "";
    position: absolute;
    border-bottom: 1px solid #F2F2F2;
    top: 50%;
    left: 20px;
}

.form_item:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

.form_label {
    margin-right: 61px;
    margin-left: 61px;
}

.form_item {
    margin-bottom: 15px;
    width: 324px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    text-decoration: #434343;
    padding-left: 19px;
}

.create_account {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: #ffffff;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.create_account:hover {
    background: #01813F;
}

input::placeholder {
    color: #BEBEBE;
}

.form-checkbox {
    display: flex;
    align-items: center;
    margin-left: 59px;
    margin-top: 12px;
    position: relative;
}

.form__element--checkbox {
    display: none;
}

.label-for-check {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}

.label-for-check::before {
    content: "";
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    margin-right: 8px;
}

.label-for-check {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.form__element--checkbox:checked + .label-for-check::before {
    background-image: url("../img/form/check.png");
    background-position: center;
    background-repeat: no-repeat;
}

.form__element::placeholder {
    color: #BEBEBE;
}

.form-label-link {
    color: #3CB878;
}

.form-label-link:hover {
    color: #01813F;
    text-decoration: underline;
}
