/* common style*/

.body {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
}

/* header style*/
.header {
    max-width: 1280px;
    max-height: 189px;
}

.header-logo-link {
    display: block;
    max-width: 334px;
    font-size: 80px;
    line-height: 94px;
}

.header-logo-link-black {
    color: #000000;
}

.header-logo-link-blue {
    color: deepskyblue;
}

.header-nav-menu {
    max-width: 1280px;
    margin-top: 38px;
    background: #35444F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-menu-item {
    display: block;
    padding: 26px 33px 19px 33px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.header-nav-menu-item:first-child {
    border-left: 1px solid #FFFFFF;
}

.header-nav-menu-item:hover {
    background: #222F3A;
}

/* main style*/
.main {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

/* aside style*/
.aside {
    max-width: 344px;
    max-height: 399px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-item {
    display: flex;
    align-items: center;
    max-width: 342px;
}

.aside-item-block {
    color: #35444F;
    font-size: 27px;
    margin: 27px 78px 27px 38px;
}

.aside-item:hover {
    background: #DBDBDB;
    justify-content: center;
    border: 1px solid transparent;
}

/* content style*/
.content {
    max-width: 885px;
}

.content-border {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-border-goat {
    max-width: 320px;
    margin: 75px 268px 73px 297px;
    transition: 5s;
}

.content-border-goat:hover {
    transform: scale(1.2);
}

.content-text {
    font-size: 18px;
    color: #2C2C2C;
}

.content-p {
    margin-top: 34px;
}

/* footer style*/
.footer {
    max-width: 1280px;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-nav {
    width: 875px;
    max-height: 28px;
    margin: 20px 135px 21px 40px;
    display: flex;
    justify-content: space-around;
}

.footer-nav-item {
    color: #0C1927;
    font-size: 28px;
}

.footer-nav-item:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer-copyright {
    padding-right: 40px;
    width: 190px;
    max-height: 69px;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    display: flex;
    justify-content: center;
    align-items: center;
}