/* common style */
.container {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1366px;
    background: url("../img/milanholidays_b/background.png");
    background-size: cover;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}

.header {
    color: #ffffff;
    padding-top: 47px;
    padding-bottom: 17px;
    margin: 0 auto;
    max-width: 1028px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    max-width: 155px;
    position: relative;
}


.header_logo_milan_holidays {
    float: right;
}

.milan {
    font-size: 29px;
    line-height: 29px;
}

.header_logo_img {
    background-image: url("../img/logo.png");
}
.header_logo_img {
    width: 53px;
    height: 47px;
    z-index: 1;
    position: absolute;
    float: left;
}

.header_logo_orange_img {
    float: left;
    position: absolute;
    right: 38px;
    z-index: 0;
}

a:hover .header_logo_img {
    position: absolute;
    float: left;
    z-index: 0;
}

a:hover .header_logo_orange_img {
    float: left;
    z-index: 2;
}


.header_logo_milan_holidays {
    text-transform: uppercase;
}


a:hover .header_logo_milan_holidays {
    color: #F26522;
    text-transform: uppercase;
}

.header_address {
    text-align: right;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
}
.email {
    color: #ffffff;
    margin-bottom: 19px;
}
.tel {
    color: #ffffff;
}
.email:hover {
    color: #F26522;
}

.tel:hover {
    color: #F26522;
}
/* main style */
.wrapper {
    margin: 0 auto;
    max-width: 1030px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-column-gap: 60px;
    grid-row-gap: 37px;
}

.wrapper_item {
    text-align: center;
    margin-bottom: 8px;
}

.wrapper_item_link {
    position: relative;
}

.wrapper_item_img {
    border: 1px solid;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.banner-orange-img {
    border: 1px solid;
    height: auto;
    position: absolute;
    bottom: -150px;
    width: 100%;
}

a:hover .banner-orange-img {
    bottom: 0;
}

.hover_text {
    color: #ffffff;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    bottom: 34px;
    left: 21px;
    top: 11px;
}

.price {
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    top: 29px;
    bottom: 12px;
}

.details {
    position: absolute;
    left: 170px;
    top: 33px;
    font-size: 14px;
    line-height: 14px;
}

.details::after {
    content: '>';
    height: 100%;
    position: absolute;
    top: 0;

}

a:hover .wrapper_item_link {
    color: #F26522;
}

footer {
    margin: 0 auto;
    max-width: 1028px;
    font-size: 12px;
    line-height: 12px;
}

.footer-copyright {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 15px;
}
