/* common style */
.container {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1366px;
    background: url("../img/milanholidays_b/background.png");
    background-size: cover;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    font-size: 18px;
}

/* header style */
.header {
    color: #ffffff;
    padding-top: 47px;
    padding-bottom: 17px;
    margin: 0 auto;
    max-width: 1028px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;

}

.header_logo_txt {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5px;
}

.header_logo_orange_img {
    display: none;
}

a:hover .header_logo_orange_img {
    display: block;
}

a:hover .header_logo_img {
    display: none;
}

.holidays {
    margin-top: 3px;
    margin-bottom: -3px;
}

.milan {
    font-size: 29px;
    line-height: 29px;
}

.header_logo_milan_holidays {
    text-transform: uppercase;
}


a:hover .header_logo_milan_holidays {
    color: #F26522;
}


.header_address {
    text-align: right;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
}

.email {
    color: #ffffff;
    margin-bottom: 19px;
}

.tel {
    color: #ffffff;
}

.email:hover {
    color: #F26522;
}

.tel:hover {
    color: #F26522;
}

/* main style */
.wrapper {
    margin: 0 auto;
    max-width: 1030px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 37px;
}

.wrapper_item {
    width: 300px;
    max-height: 220px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

/* gradient style*/
a:hover .wrapper_item {
    background: #F26522;
    margin: 2px auto;
    width: 301px;
    height: 221px;
    border-top: 2px solid #F26522;
    border-bottom: 2px solid #000000;
    box-sizing: border-box;
    background-position: 0 0, 100% 0;
    background-size: 20px 100%;
}


.wrapper_item_title {
    color: #ffffff;
}

a:hover .wrapper_item_title {
    color: #F26522;
}

.banner-orange-img {
    width: 288px;
    background-color: #F26522;
    padding-bottom: 12px;
    padding-top: 7px;
    padding-left: 16px;
    display: none;
    justify-content: space-between;
    align-items: end;
    position: absolute;
    top: 165px;
}

a:hover .banner-orange-img {
    display: flex;
}

.hover_text {
    color: #ffffff;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.price {
    color: #ffffff;
    font-size: 20px;
    line-height: 20px;
    margin-top: 8px;
}

.details {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    margin-right: 21px;
}

.details::after {
    content: '>';
    margin-left: 16px;
}

a:hover .wrapper_item_link {
    color: #F26522;
}

footer {
    margin: 0 auto;
    max-width: 1028px;
    font-size: 12px;
    line-height: 12px;
}

.footer-copyright {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 15px;
}
